<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1>Bowling Alley</h1>
        <h2>Bowling Line Tag line</h2>
        <p>Bowling Alley Address</p>
    </body>
</html>
