<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>You Can't Bowl A Strike Every Time</h2>
        <p>97 Bwoling Alley Lane, Boulder CO</p>
    </body>
</html>
